:root.theme-dark {
  --button-hover-color: var(--accent-color-transparent);
  --background-color: var(--accent-text-color);
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --decoration-border-color: var(--accent-color);
  --accent-text-color: #000028;
  --decorative-element-display: block;
  --main-title-color: #db00ff;
  --button-active-color: var(--accent-color);
  --menu-list-color: var(--accent-color);
  --background-image: url(../images/cover-image-dark.png);
  --title-color: var(--accent-color);
  --button-focus-color: var(--accent-color);
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
}



