:root.theme-light {
  --background-color: #fff1f7;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --accent-color: #ff8dcb;
  --text-color: var(--accent-text-color);
  --main-title-color: #ffc2e6;
  --menu-list-color: var(--accent-text-color);
  --decorative-element-display: none;
  --decoration-border-color: var(--accent-text-color);
  --accent-text-color: #353430;
  --title-color: var(--accent-text-color);
  --button-active-color: var(--accent-text-color);
  --background-image: url(../images/cover-image-light.png);
  --button-focus-color: var(--accent-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
  --background-color: #fff1f7;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --accent-color: #ff8dcb;
  --text-color: var(--accent-text-color);
  --main-title-color: #ffc2e6;
  --menu-list-color: var(--accent-text-color);
  --decorative-element-display: none;
  --decoration-border-color: var(--accent-text-color);
  --accent-text-color: #353430;
  --title-color: var(--accent-text-color);
  --button-active-color: var(--accent-text-color);
  --background-image: url(../images/cover-image-light.png);
  --button-focus-color: var(--accent-text-color);
}
}