:root {
  --background-color: var(--accent-text-color);
  --font-weight-bold: 700;
  --screen-diff-md-lg: 256;
  --accent-text-color-transparent: rgba(0, 0, 40, 0.4);
  --button-hover-color: var(--accent-color-transparent);
  --space-m: 20px;
  --accent-color: #ff0070;
  --font-size-base: 18px;
  --screen-sm: 375px;
  --shadow-small: 2px 2px 0 var(--accent-color);
  --button-active-color: var(--accent-color);
  --main-font: "IBM Plex mono", monospace;
  --screen-diff-sm-md: 393;
  --accent-text-color: #000028;
  --fluid-ratio-md-lg: ((100vw - var(--screen-md)) / var(--screen-diff-md-lg)); 
  --font-weight-regular: 400;
  --space-l: 40px;
  --decoration-border-color: var(--accent-color);
  --text-color: #f1b2ce;
  --menu-list-color: var(--accent-color);
  --shadow: 4px 4px 0 var(--accent-color);
  --screen-md: 768px;
  --button-focus-color: var(--accent-color);
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --line-height-base: 130%;
  --title-color: var(--accent-color);
  --decorative-element-display: block;
  --main-title-color: #db00ff;
  --space-s: 10px;
  --background-image: url(../images/cover-image-dark.png);
  --fluid-ratio-sm-md: ((100vw - var(--screen-sm)) / var(--screen-diff-sm-md));
}